.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding-top: 24px;
}

/* Mobile */
@media (max-width: 767px) {
  .main {
    padding-top: 12px;
    padding-bottom: calc(
      88px + env(safe-area-inset-bottom)
    ); /* Space for bottom nav and a little extra padding */
    display: flex;
    flex-direction: column;
  }
}
